@use '../base/variables' as v;
@use '../base/mixins' as m;

.app{
    display:  flex ;
    flex-direction: column;
    justify-content: center;

    &__heading{
        text-align: center;
        margin: 5rem 0 1rem 0;
    }
    &__texto{
        text-align: center;
        margin: 0rem 0 3rem 0;
    }

    &__grid{
        @include m.grid(2,2rem)
    }

    &__enlace{
        transition-property: transform;
        transition-duration: 500ms;

        &:hover{
            transform: scale(1.2);
        }
    }
}